@model IEnumerable<Online_Learning.Models.Subject>


@{
    if (Session["UserName"] == null)
    {
        Response.Redirect("/Login/Login");
    }
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllSubject</title>
</head>
<body>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.TeacherName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
                </td>

            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to Home Page ", "Index")
    </div>
    <div>
        @Html.ActionLink("My Courses ", "ShowMySubject")
    </div>

</body>
</html>
