@model IEnumerable<Online_Learning.Models.Teacher>
@{
    if (Session["Username"] == null)
    {
        Response.Redirect("/Login/Login/");
    }
}

@{
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
}
<br />
<br />


<!-- section -->
<div class="section layout_padding padding_bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span>Teacher List</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institute)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:darkred">No Match With Any Teacher</td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Institute)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TeacherId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
@using (Html.BeginForm())
{
    <div class="heading_main text_align_center">
        @Html.AntiForgeryToken()
        @Html.TextBox("searching")<input type="submit" value="Search" />
    </div>
}


