@model IEnumerable<Online_Learning.Models.TeacherFinancial>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ko</title>
</head>
<body>

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>

            </tr>
        }

    </table>
    <p>Total Spends: @ViewBag.TMsg</p>
    <p>Total Profit: @ViewBag.Profit</p>
</body>
</html>
