@model IEnumerable<Online_Learning.Models.Subject>
@{
    if (Session["Username"] == null)
    {
        Response.Redirect("/Login/Login/");
    }
}
@{
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
}

<br />
<br />


<!-- section -->
<div class="section layout_padding padding_bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span>Course List</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <div class="heading_main text_align_center">
        @Html.AntiForgeryToken()
        @Html.TextBox("searching")
        <input type="submit" value="Search" />
    </div>
}
<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCount)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:darkred">No Match With Any Course</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentCount)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SubjectId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SubjectId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SubjectId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />


