@model IEnumerable<Online_Learning.Models.Subject>

@{

    if (Session["Username"] == null)
    {
        Response.Redirect("/Login/Login");
    }
    ViewBag.Title = "ShowMySubject";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMySubject</title>
</head>
<body>

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.UserName)
                </td>
                <td>
                    @Html.ActionLink("Upload Notes ", "AddNotes", new { id = item.SubjectId }) |

                </td>

                <td>
                    @Html.ActionLink("Upload Videos", "AddVideos", new { id = item.SubjectId }) |

                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to Home Page ", "Index")
    </div>
</body>
</html>
